<div class="container profile-page-content">
    <%= image_tag @user.avatar, size: 250, class: 'avatar rounded-circle bg-white' %>
  <div class="card nav-color">
    <div class="card-body text-center">
      <div class="dropdown text-end">
        <% if @user.email == 'guest@example.com' %>
          <h1>ゲストユーザーはユーザー編集を行うことができません。</h1>
        <% else %>
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            ユーザー情報を編集
          </button>
          <%= form_with model: @user, url: profile_path(@user), class: 'dropdown-menu bg-dark text-white p-4', local: true do |f| %>
            <div class="form-group mb-2">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :avatar %>
              <%= f.file_field :avatar, class: 'form-control' %>
            </div>

            <div class="text-center">
              <%= f.submit '更新', class: 'btn btn-primary' %>
            </div>
          <% end %>
        <% end %>
      </div>
      <h1 class="mt-5"><%= @user.name %></h1>
      <hr>
      <h5>＜ 自身の投稿 ＞</h5>
      <% if @user.post.present? %>
        <div class="card text-white profile-my-post">
          <%= link_to post_path(@post), data: { turbo: false } do %>
            <%= image_tag @post.images[0], class: 'post-image' %>
          <% end %>
          <div class="card-body bg-dark">
            <div class="row">
              <div class="col-sm-8 d-flex">
                <%= image_tag @post.user.avatar, class: 'rounded-circle', size: 45 %>
                <h5 style="margin: auto 10px;"><%= @post.user.name %></h5>
              </div>

              <!-- いいねボタン -->
              <div class="col-sm-4 text-end" style="margin: auto 0;">
                <div class="row">
                  <div class="col text-center">
                    <div id="like_buttons_<%= @post.id %>">
                      <% if current_user.like?(@post) %>
                        <%= render 'likes/unlike', post: @post %>
                      <% else %>
                        <%= render 'likes/like', post: @post %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      <% else %>
        <p>投稿はありません。</p>
        <%= link_to '投稿する', new_post_path, class: 'btn btn-primary', data: { turbo: false } %>
      <% end %>
    </div>
  </div>
</div>
