<div class="container profile-page-content">
  <%= image_tag @user.avatar, size: 250, class: 'avatar' %>
  <div class="card border-black">
    <div class="card-body text-center">
      <h1 class="mt-5"><%= @user.name %></h1>
      <hr class="my-4">
      <h4>自身の投稿</h4>
      <% if @user.post.present? %>
        <div class="card border-black profile-my-post mb-5">
          <%= link_to post_path(@post), data: { turbo: false } do %>
            <%= image_tag @post.images[0], class: 'card-img post-image' %>
          <% end %>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-8 d-flex">
                <%= image_tag @post.user.avatar, class: 'rounded-circle', size: 45 %>
                <h5 style="margin: auto 10px;"><%= @post.user.name %></h5>
              </div>

              <div class="col-sm-4 text-end" style="margin: auto 0;">
                <div class="row">
                  <div class="col text-center">
                    <div id="like_buttons_<%= @post.id %>">
                      <% if current_user.like?(@post) %>
                        <%= render 'likes/unlike', post: @post %>
                      <% else %>
                        <%= render 'likes/like', post: @post %>
                      <% end %>
                    </div>
                  </div>
                  <%= render 'shared/crud_menu', post: @post %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <p class="my-5">投稿していません。</p>
        <%= link_to '自身のデスク環境を投稿する', new_post_path, class: 'btn blue-btn mb-5', data: { turbo: false } %>
      <% end %>

      <% if @user.email != 'guest@example.com' %>
        <hr class="mb-5">
        <div class="user-update-form">
          <h4>ユーザー情報を編集</h4>
          <%= form_with model: @user, url: profile_path(@user), class: 'p-4', local: true do |f| %>
            <div class="form-group mb-5">
              <%= f.label :name, 'ユーザーネーム（１〜２０文字以内でご入力してください）' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>

            <div class="form-group mb-5">
              <%= f.label :avatar, 'プロフィール画像（対応画像フォーマット： jpg / jpeg / png）' %>
              <%= f.file_field :avatar, accept: 'image/jpg, image/jpeg, image/png', class: 'form-control' %>
            </div>

            <div class="text-center">
              <%= f.submit '更新する', class: 'btn green-btn' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
