<div class="container devise-page-content">
  <div class="mx-auto">
    <div class="card nav-color">
      <h2 class="card-header text-center p-4">メールアドレス・パスワードの変更</h2>
      <div class="card-body devise-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <span>メールアドレス</span>
          <div class="input-group mb-5">
            <label class="input-group-text" for="email"><i class="fa-solid fa-envelope"></i></label>
            <%= f.email_field :email,
                              autofocus: true,
                              autocomplete: 'email',
                              class: 'form-control p-2',
                              id: 'email',
                              placeholder: '送信可能なアドレスをご入力してください',
                              required: true %>
          </div>

          <div class="text-center mb-3">※パスワードを変更しない場合は空白のままにしてください。</div>
          <span>パスワード（6文字以上）</span>
          <div class="input-group mb-4">
            <label class="input-group-text" for="password"><i class="fa-solid fa-lock"></i></label>
            <%= f.password_field :password,
                                 autocomplete: 'password',
                                 class: 'form-control p-2',
                                 id: 'password',
                                 placeholder: '6文字以上でご入力してください' %>
          </div>

          <span>パスワード確認</span>
          <div class="input-group mb-5">
            <label class="input-group-text" for="password-confirmation"><i class="fa-solid fa-lock"></i></label>
            <%= f.password_field :password_confirmation,
                                 autocomplete: 'new-password',
                                 class: 'form-control p-2',
                                 id: 'password-confirmation',
                                 placeholder: '確認のためもう一度ご入力してください' %>
          </div>

          <hr>

          <div class="text-center">変更を保存するには現在のパスワードを入力してください。</div>
          <div class="input-group mb-5">
            <label class="input-group-text" for="current-password"><i class="fa-solid fa-lock"></i></label>
            <%= f.password_field :current_password,
                                 autocomplete: 'current-password',
                                 class: 'form-control p-2',
                                 id: 'current-password',
                                 placeholder: '現在のパスワードをご入力してください' %>
          </div>

          <div class="mb-4 text-center">
            <%= button_tag type: 'submit', class: 'btn green-btn' do %>
              <span>ユーザー情報を更新</span>
            <% end %>
          </div>
        <% end %>

        <hr>
        <div class="text-center">
          <%= link_to "戻る", :back, class: 'text-center' %>
        </div>
      </div>
    </div>
  </div>
</div>