<%= form_tag diagnose_path, method: :get do %>
  <h3>Q.1 あなたは何歳ですか？</h3>
  <label>
    <%= radio_button_tag :age, "1" %> 10代
  </label>
  <label>
    <%= radio_button_tag :age, "2" %> 20代
  </label>
  <label>
    <%= radio_button_tag :age, "3" %> 30代
  </label>
  <label>
    <%= radio_button_tag :age, "4" %> 40代
  </label>

  <h3>Q.2 あなたの性別は何ですか？</h3>
  <label>
    <%= radio_button_tag :sex, "1" %> 男
  </label>
  <label>
    <%= radio_button_tag :sex, "2" %> 女
  </label>

  <h3>Q.3 あなたはメガネをかけていますか？</h3>
  <label>
    <%= radio_button_tag :glasses, "1" %> いいえ
  </label>
  <label>
    <%= radio_button_tag :glasses, "2" %> はい
  </label>

  <br>
  <%= submit_tag '診断する'  %>
<% end %>