<div class="container devise-page-content">
  <div class="mx-auto">
    <div class="card nav-color">
      <h2 class="card-header text-center p-4">パスワード再設定のご案内</h2>
      <div class="card-body devise-body">
        <div class="text-center">
          <%#= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= form_with model: resource, url: password_path(resource_name), method: :post, local: true do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <p>ご登録しているメールアドレスを入力してください。</p>
            <div class="input-group mt-2 mb-5">
              <label class="input-group-text" for="email"><i class="fa-solid fa-envelope"></i></label>
              <%= f.email_field :email,
                                autofocus: true,
                                autocomplete: 'email',
                                class: 'form-control p-2',
                                id: 'email',
                                placeholder: 'sample@example.com',
                                required: true %>
            </div>

            <div class="mb-4">
              <%= button_tag type: 'submit', class: 'btn gray-btn' do %>
                <span>パスワード再設定用のリンクを送信</span>
              <% end %>
            </div>
          <% end %>

          <hr>

          <div class="pt-3 pb-3">
            <%= link_to 'ログイン画面へ戻る', user_session_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>