<header class="header">
  <nav class="navbar navbar-dark nav-color fixed-top">
    <div class="container-fluid">
      <h2><%= link_to 'Title', root_path, class: 'navbar-brand' %></h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end nav-color" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">メニュー</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <%= link_to root_path, class: 'nav-link ms-2' do %>
                <i class="fa-solid fa-house"></i>　ホームページ
              <% end %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle ms-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-paste post-btn"></i>　投稿
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <%= link_to '#', class: 'nav-link ms-2' do %>
                <i class="fa-solid fa-bookmark bookmark-btn"></i>　ブックマーク
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to '#', class: 'nav-link ms-2' do %>
                <i class="fa-solid fa-user mypage-btn"></i>　マイページ
              <% end %>
            </li>
            <hr>
            <li class="nav-item">
              <%= link_to destroy_user_session_path,
                          data: { turbo_method: :delete, turbo_confirm: 'ログアウトしますか？' },
                          class: 'nav-link text-danger ms-2' do %>
                <i class="fa-solid fa-right-from-bracket logout-btn"></i>　ログアウト
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>