<nav class="navbar navbar-dark bg-dark fixed-top p-2">
  <div class="container-fluid">
    <h2><%= link_to 'Title', root_path, class: 'navbar-brand' %></h2>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        デスク環境
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><%= link_to 'デスク環境投稿一覧', desk_posts_path, class: 'dropdown-item' %></li>
        <li><%= link_to 'デスク環境新規投稿', new_desk_post_path, class: 'dropdown-item' %></li>
      </ul>
    </div>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        アイテム
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><%= link_to 'アイテム投稿一覧', item_posts_path, class: 'dropdown-item' %></li>
        <li><%= link_to 'アイテム新規投稿', new_item_post_path, class: 'dropdown-item' %></li>
      </ul>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">メニュー</h5>
        <button type="button" class="btn-close btn-close-white me-1" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
            <hr>
          </li>
          <li class="nav-item  mx-auto">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-danger fw-bold' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>