<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>Home Page</h1>
  </div>
  <% unless user_signed_in? %>
    <div class="session-button">
      <%= link_to 'サインイン', user_session_path, class: 'btn btn-primary' %>
    </div>
    <div class="registration-button">
      <%= link_to 'サインアップ', new_user_registration_path, class: 'btn btn-primary' %>
    </div>
    <div class="guest-login-button">
      <%= link_to 'ゲストログイン',
                  users_guest_sign_in_path,
                  class: 'btn btn-success',
                  data: { turbo_method: :post, turbo_confirm: 'ゲストユーザーとしてログインしますか？' } %>
    </div>
  <% end %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
          <th scope="col">タイトル</th>
          <th scope="col">説明</th>
          <th scope="col">投稿者</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% @desk_posts.each do |post| %>
          <tr>
            <td><%= link_to post.title, desk_post_path(post) %></td>
            <td><%= post.description %></td>
            <td><%= post.user.user_name %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
          <th scope="col">アイテム名</th>
          <th scope="col">説明</th>
          <th scope="col">投稿者</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% @item_posts.each do |post| %>
          <tr>
            <td><%= link_to post.name, item_post_path(post) %></td>
            <td><%= post.description %></td>
            <td><%= post.user.user_name %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>