<div class="col-lg-4 mb-5 px-3">
  <div id="board-id-<%= post.id %>">
    <div class="card post-color">
      <%= link_to item_post_path(post) do %>
        <%= image_tag post.image, class: 'card-img-top', size: '400x330', style: "object-fit: cover;" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title post-name float-start">
          <%= post.name %>
        </h5>
        <div class="float-end">
          <% if current_user.own?(post) %>
            <%= link_to edit_desk_post_path(post), style: 'text-decoration: none;' do %>
              <i class="fa-regular fa-pen-to-square edit-icon me-3"></i>
            <% end %>
            <%= link_to desk_post_path(post), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } do %>
              <i class="fa-regular fa-trash-can trash-icon me-1"></i>
            <% end %>
          <% else %>
            <div id="like_buttons_<%= post.id %>">
              <% if current_user.like?(post) %>
                <%= render 'item/likes/unlike', item_post: post %>
              <% else %>
                <%= render 'item/likes/like', item_post: post %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>