<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <%= link_to 'デスク環境投稿一覧', desk_posts_path, class: 'nav-link', 'aria-current': true %>
      </li>
      <li class="nav-item">
        <%= link_to 'アイテム投稿一覧', item_posts_path, class: 'nav-link active', 'aria-current': true %>
      </li>
    </ul>
  </div>
  <div class="card-body">

    <div class="container mt-5">
      <div class="row">
        <div class="col-10 mx-auto">
          <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
              <th scope="col">アイテム名</th>
              <th scope="col">説明</th>
              <th scope="col">投稿者</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= link_to post.name, item_post_path(post) %></td>
                <td><%= post.description %></td>
                <td><%= post.user.user_name %></td>
                <td>
                  <% if current_user.own?(post) %>
                    <%= link_to '編集', edit_item_post_path(post), class: 'btn btn-success' %>
                    <%= link_to '削除', item_post_path(post), class: 'btn btn-danger', data: { turbo_method: :delete } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <%= paginate @posts %>
        </div>
      </div>
    </div>

  </div>
</div>

