<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4>アイテム名</h4>
          <h5 class="card-title"><%= @post.name %></h5>
          <div class="nav justify-content-end">
            <% if current_user.own?(@post) %>
              <%= link_to '編集', edit_item_post_path(@post), class: 'btn btn-success me-2' %>
              <%= link_to '削除', item_post_path(@post), class: 'btn btn-danger', data: { turbo_method: :delete } %>
            <% else %>
              <div id="like_buttons_<%= @post.id %>">
                <% if current_user.like?(@post) %>
                  <%= render 'item/likes/unlike', item_post: @post %>
                <% else %>
                  <%= render 'item/likes/like', item_post: @post %>
                <% end %>
              </div>
            <% end %>
          </div>
          <hr>
          <% if @post.image.present? %>
            <%= image_tag @post.image.variant(resize: "600x300^", gravity: "center") %>
          <% end %>
          <hr>
          <h4>説明</h4>
          <p class="card-text"><%= simple_format @post.description %></p>
          <% if @tags.present? %>
            <%= render 'item/posts/tag_list', tag_list: @post.tag_list %>
          <% end %>
          <p class="card-text mt-3">
            <small class="text-muted">最終更新日：<%= @post.updated_at.strftime("%Y / %m / %d") %></small>
          </p>
          <hr>
          <% unless current_user.own?(@post) %>
            <h4>コメント作成</h4>
            <%= render 'item/comments/form', comment: @comment, post: @post %>
            <hr>
          <% end %>
          <h4>コメント一覧</h4>
          <div id="js_comment_index">
            <%= render @comments %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>