<%= form_with model: post, data: { controller: 'file-upload' }, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <!-- 画像アップロードフォーム-->
  <h4>画像を追加</h4>
  <hr>
  <div class="file-upload-text mb-4">
    <p>・対応画像フォーマット：　jpg / jpeg / png</p>
    <p>・ファイルサイズ：　5MBまで</p>
    <p>・画像上限枚数：　8枚まで</p>
  </div>

  <%= f.label :images, class: 'file-input-btn' do %>
    <i class="fa-regular fa-image"></i>　画像をアップロード
  <% end %>
  <%= f.file_field :images,
                   multiple: true,
                   class: 'file-input-field',
                   accept: 'image/jpeg, image/gif, image/png',
                   data: { file_upload_target: 'select', action: 'change->file-upload#selectImages' } %>

  <p data-file-upload-target="error" class=""></p>

  <p class="m-4 text-center">または</p>

  <!-- ドラッグ＆ドロップエリア -->
  <div class="file-upload-container drop-default-color mb-5" data-file-upload-target="drop" data-action="dragover->file-upload#dragover dragleave->file-upload#dragleave drop->file-upload#dropImages">
    <div class="file-upload-text">
      <i class="fa-regular fa-image file-upload-icon"></i>
      <p class="">ここに画像をドラッグ&ドロップ</p>
    </div>
  </div>

  <!-- 画像プレビュー -->
  <p>画像プレビューは横にスクロールできます。</p>
  <div data-file-upload-target="preview" class="preview-container">
    <% if @post.images.attached? %>
      <% @post.images.each do |image| %>
        <div class="" data-controller="images" data-file-upload-target="image_box">
          <div class="card me-2">
            <%= image_tag image, class: 'preview-image' %>
            <a class="preview-delete-btn" data-action="click->file-upload#deleteImage">削除</a>
            <%= f.hidden_field :images, name: "post[images][]", style: "display: none", value: "#{image.blob.id}" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row my-5">
    <div class="col-7">
      <h4><%= f.label :description %></h4>
      <hr>
      <div class="form-group mb-3">
        <%= f.text_area :description, rows: 6, class: 'form-control', placeholder: '使用しているデバイスやこだわりのポイントなど' %>
      </div>
    </div>

    <div class="col-5">
      <h4><%= f.label :tag_list, 'タグ' %></h4>
      <hr>
      <div class="form-group">
        <%= f.text_field :tag_list, value: post.tag_list.join(','), rows: 2, class: 'form-control', placeholder: ',で区切って入力してください' %>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <%= f.submit nil, class: 'btn green-btn', style: 'padding: 15px 60px;' %>
  </div>
<% end %>