<div class="col-lg-6 mb-5" id="board-id-<%= post.id %>">
  <div class="card text-white border-white">
    <%= link_to post_path(post), data: { turbo: false } do %>
      <%= image_tag post.images[0], size: '200x400', class: 'card-img', style: 'object-fit: cover;' %>
    <% end %>
    <div class="card-body bg-dark">
      <div class="row">
        <div class="col-sm-8 d-flex">
          <%= image_tag post.user.avatar, class: 'rounded-circle', size: 45 %>
          <h4 style="margin: auto 10px;"><%= post.user.name %></h4>
        </div>
        <div class="col-sm-4" style="margin: auto 0;">
          <% if current_user.own?(post) %>
            <div class="row">
              <%= render 'shared/crud_menu', post: post %>
            </div>
          <% else %>
            <div class="row d-flex">
              <%= render 'shared/like_bookmark_menu', post: post %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>