<div class="col-lg-4 mb-5 px-3">
  <div id="board-id-<%= post.id %>">
    <div class="card bg-dark text-white border-white">
      <div class="card-header" style="padding: 0; ">
        <%= link_to post_path(post), data: { turbo: false } do %>
          <%= image_tag post.images[0], class: 'card-img-top', size: '400x330', style: "object-fit: cover;" %>
        <% end %>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-8">
            <h5 style="margin: 0;"><%= post.user.user_name %></h5>
          </div>
          <div class="col-sm-4">
            <% if current_user.own?(post) %>
              <div class="row">
                <%= render 'shared/crud_menu', post: post %>
              </div>
            <% else %>
              <div class="row">
                <%= render 'shared/like_bookmark_menu', post: post %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>