<div class="container post-body">
  <div class="card border-black">
    <div class="card-header d-flex">
      <%= image_tag @post.user.avatar, class: 'rounded-circle', size: 45 %>
      <h4 style="margin: auto 20px;"><%= @post.user.name %></h4>
    </div>
    <div class="card-body" style="padding: 0;">
      <div class="swiper">
        <div class="swiper-wrapper">
          <% @post.images.each do |image| %>
            <div class="swiper-slide">
              <%= image_tag image, class: 'card-img post-image' %>
            </div>
          <% end %>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>

  <hr class="my-5">

  <% if @tags.present? %>
    <div class="card border-black tags-container">
      <h5 class="card-header text-center py-2">タグ</h5>
      <div class="tag-body-container">
        <% @tags.each do |tag| %>
          <div class="tag-body">
            <%= link_to tag, posts_path(tag: tag.name), class: 'tag-item' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-8">
      <div class="mb-4">
        <div class="card border-black mb-4">
          <h4 class="card-header text-center py-3">説明</h4>
          <div class="card-body">
            <div class="card-text">
              <%= simple_format @post.description %>
            </div>
            <hr>
            <p class="text-end m-0">投稿作成日：　<%= @post.created_at.strftime("%Y年 %m月 %d日") %></p>
          </div>
        </div>

        <div class="card border-black text-center">
          <h4 class="card-header py-3">使用しているアイテム</h4>
          <div class="card-body p-0">
            <% if @items.present? %>
              <% @items.each do |item| %>
                <div class="card mb-3 search-result-item" style="max-width: 380px; max-height: 300px;">
                  <div class="row g-0">
                    <div class="col-md-4" style="margin: auto 0;">
                      <%= image_tag item[:image_url], class: 'card-img-top', size: 128, style: 'object-fit: contain;' %>
                    </div>

                    <div class="col-md-8">
                      <div class="d-flex justify-content-between align-items-center" style="padding: 5px 15px">
                        <p class="text-start m-0" style="color: #7d7d7d;"><%= item[:brand_name] %></p>
                        <% if current_user && current_user.own?(@post) %>
                          <%= link_to item_path(item), id: 'delete-btn', method: :delete, data: { confirm: '削除しますか？' } do %>
                            <i class="fa-regular fa-trash-can" style="color: #ff2d2d;"></i>
                          <% end %>
                        <% end %>
                      </div>
                      <% if item[:brand_name].present? %>
                        <hr class="mx-3 my-0">
                      <% end %>
                      <div class="card-body" style="padding: 5px 15px;">
                        <%= link_to item[:item_url], style: 'text-decoration: none;' do %>
                          <h6 class="card-title text-start"><%= item[:item_name] %></h6>
                        <% end %>
                        <hr class="mx-0 my-2">
                        <div class="d-flex justify-content-between align-items-center">
                          <span>平均価格</span>
                          <span><%= number_to_currency(item[:price], unit: '¥', format: '%u %n') %></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p class="text-center m-4">登録しているアイテムはありません。</p>
            <% end %>

            <% if current_user && current_user.own?(@post) %>
              <hr class="m-0">
              <h5 class="card-header">アイテムを登録する</h5>
              <p class="mt-2">登録できるアイテムの数は8つまでです。</p>

              <%= form_with url: new_item_path, method: :get, class: 'search-form', local: true do |f| %>
                <%= f.text_field :keyword, placeholder: 'キーワードを入力' %>
                <%= button_tag '', type: 'submit' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="mb-5">
        <% unless current_user %>
          <p class="text-center text-danger">以下の機能はログインユーザーのみ使用できます。</p>
        <% end %>
        <div class="card border-black mb-4">
          <div class="row my-3">
            <% if current_user && current_user.own?(@post) %>
              <%= render 'shared/crud_menu', post: @post %>
            <% else %>
              <%= render 'shared/like_bookmark_menu', post: @post %>
            <% end %>
          </div>
        </div>
        <div class="card border-black">
          <!-- コメント一覧 -->
          <%= render 'comments/comments', { comments: @comments } %>
          <hr class="my-1">

          <!-- コメントフォーム -->
          <%= render 'comments/form', { post: @post, comment: @comment } %>
        </div>
      </div>
    </div>
  </div>
</div>
