<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4>タイトル</h4>
          <h5 class="card-title"><%= @post.title %></h5>
          <div class="nav justify-content-end">
            <% if current_user.own?(@post) %>
              <%= link_to '編集', edit_desk_post_path(@post), class: 'btn btn-success me-2' %>
              <%= link_to '削除', desk_post_path(@post), class: 'btn btn-danger', data: { turbo_method: :delete } %>
            <% else %>
              <% if current_user.bookmark?(@post) %>
                <%= render 'desk/bookmarks/unbookmark', desk_post: @post %>
              <% else %>
                <%= render 'desk/bookmarks/bookmark', desk_post: @post %>
              <% end %>
            <% end %>
          </div>
          <hr>
          <h4>説明</h4>
          <p class="card-text"><%= simple_format @post.description %></p>
          <p class="card-text mt-3">
            <small class="text-muted">最終更新日：<%= @post.updated_at.strftime("%Y / %m / %d") %></small>
          </p>
          <hr>
          <h4>コメント作成</h4>
          <%= form_with model: @comment, url: desk_post_comments_path(@post, @comment), local: true do |f| %>
            <div class="form-group">
              <%= f.label :content %>
              <%= f.text_area :content, class: 'form-control mb-3', rows: 2 %>
            </div>
            <%= f.hidden_field :desk_post_id, value: @post.id %>
            <%= f.submit nil, class: 'btn btn-primary' %>
          <% end %>
          <hr>
          <h4>コメント一覧</h4>
          <% @comments.each do |comment| %>
            <div class="mb-2 mt-3">
              <h6>ユーザーネーム： <%= comment.user.user_name %></h6>
              <%= comment.content %>
              <hr>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>