<!--<div class="container mt-5">-->
<!--  <div class="row">-->
<!--    <div class="col-6 mx-auto">-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <h4>タイトル</h4>-->
<!--          <h5 class="card-title"><%#= @post.title %></h5>-->
<!--          <div class="nav justify-content-end">-->
            <%# if current_user.own?(@post) %>
              <%#= link_to '編集', edit_desk_post_path(@post), class: 'btn btn-success me-2' %>
              <%#= link_to '削除', desk_post_path(@post), class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
            <%# else %>
<!--              <div id="like_buttons_<%#= @post.id %>">-->
                <%# if current_user.like?(@post) %>
                  <%#= render 'desk/likes/unlike', desk_post: @post %>
                <%# else %>
                  <%#= render 'desk/likes/like', desk_post: @post %>
                <%# end %>
<!--              </div>-->
            <%# end %>
<!--          </div>-->
<!--          <hr>-->
<!--          <div class="swiper">-->
<!--            <div class="swiper-wrapper">-->
              <%# @post.images.each do |image| %>
<!--                <div class="swiper-slide">-->
                  <%#= image_tag image, class: 'card-img-top', size: '600x300', style: "object-fit: cover;" %>
<!--                </div>-->
              <%# end %>
<!--            </div>-->
<!--              <div class="swiper-button-prev"></div>-->
<!--              <div class="swiper-button-next"></div>-->
<!--              <div class="swiper-pagination"></div>-->
<!--          </div>-->
<!--          <hr>-->
<!--          <h4>説明</h4>-->
<!--          <p class="card-text"><%#= simple_format @post.description %></p>-->
<!--          <p class="card-text mt-3">-->
<!--            <small class="text-muted">最終更新日：<%#= @post.updated_at.strftime("%Y / %m / %d") %></small>-->
<!--          </p>-->
<!--          <hr>-->
          <%# unless current_user.own?(@post) %>
<!--            <h4>コメント作成</h4>-->
            <%#= render 'desk/comments/form', comment: @comment, post: @post %>
          <%# end %>
<!--          <hr>-->
<!--          <h4>コメント一覧</h4>-->
<!--          <div id="js_comment_index">-->
            <%#= render @comments %>
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container mt-5">
  <div class="card bg-secondary text-white mb-5">
    <div class="card-header">
      <h3>
        <%= @post.user.user_name %>
      </h3>
    </div>
    <div class="card-body">
      <div class="swiper">
        <div class="swiper-wrapper">
          <% @post.images.each do |image| %>
            <div class="swiper-slide">
              <%= image_tag image, size: '600x700', class: 'card-img-top' %>
            </div>
          <% end %>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>

  <hr class="mb-5">

    <div class="container text-center">
      <div class="row">
        <div class="col-sm-9">
          <div class="mb-5">
            <div class="card bg-secondary text-white">
              <div class="card-body">
                <h4 class="card-title">説明</h4>
                <hr>
                <%= simple_format @post.description %>
              </div>
            </div>
          </div>

          <div class="mb-5">
            <div class="card bg-secondary text-white">
              <div class="card-body">
                <h4 class="card-title">使用アイテム一覧</h4>
                <hr>
                <div class="card" style="width: 18rem;">
                  <%= image_tag 'sample1.jpg', class: 'card-img-top' %>
                  <div class="card-body">
                    <p class="card-text">Test</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="mb-5">
            <div class="card bg-secondary text-white">
              <div class="card-body">
                <h4 class="card-title">コメント一覧</h4>
                <hr>
                <div id="js_comment_index">
                  <% if @comments.present? %>
                    <%= render @comments %>
                  <% else %>
                    <p>コメントはありません。</p>
                  <% end %>
                </div>

              </div>
            </div>
          </div>
          <div>
            <div class="card bg-secondary text-white">
              <div class="card-body">
                <% unless current_user.own?(@post) %>
                  <h4 class="card-title">コメント作成</h4>
                  <hr>
                  <%= render 'desk/comments/form', comment: @comment, post: @post %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

