<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4>タイトル</h4>
          <h5 class="card-title"><%= @post.title %></h5>
          <div class="nav justify-content-end">
            <% if current_user.own?(@post) %>
              <%= link_to '編集', edit_desk_post_path(@post), class: 'btn btn-success me-2' %>
              <%= link_to '削除', desk_post_path(@post), class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
            <% else %>
              <div id="like_buttons_<%= @post.id %>">
                <% if current_user.like?(@post) %>
                  <%= render 'desk/likes/unlike', desk_post: @post %>
                <% else %>
                  <%= render 'desk/likes/like', desk_post: @post %>
                <% end %>
              </div>
            <% end %>
          </div>
          <hr>
          <div class="swiper">
            <div class="swiper-wrapper">
              <% @post.images.each do |image| %>
                <div class="swiper-slide">
                  <%= image_tag image, class: 'card-img-top', size: '600x300', style: "object-fit: cover;" %>
                </div>
              <% end %>
            </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-pagination"></div>
          </div>
          <hr>
          <h4>説明</h4>
          <p class="card-text"><%= simple_format @post.description %></p>
          <p class="card-text mt-3">
            <small class="text-muted">最終更新日：<%= @post.updated_at.strftime("%Y / %m / %d") %></small>
          </p>
          <hr>
          <% unless current_user.own?(@post) %>
            <h4>コメント作成</h4>
            <%= form_with model: @comment, url: desk_post_comments_path(@post, @comment), local: true do |f| %>
              <div class="form-group">
                <%= f.label :content %>
                <%= f.text_area :content, class: 'form-control mb-3', rows: 2 %>
              </div>
              <%= f.hidden_field :desk_post_id, value: @post.id %>
              <%= f.submit nil, class: 'btn btn-primary' %>
            <% end %>
            <hr>
          <% end %>
          <h4>コメント一覧</h4>
          <% @comments.each do |comment| %>
            <div class="mb-2 mt-3">
              <h6>ユーザーネーム： <%= comment.user.user_name %></h6>
              <%= comment.content %>
              <hr>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>