<!DOCTYPE html>
<html>
  <head>
    <title>PcEnvironmentPostApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/header_before_login' %>
    <% end %>
    <%#= render 'shared/flash_message' %>
    <%= render 'shared/flash_window' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
